<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Crudify - Admin </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section id="container">
    <div class="dimmer"></div>

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered">
                    <i class="fa fa-database brand-logo"></i>
                <h5 class="centered brand-name">CRUDI</h5>
                </p>

                <li class="mt">
                    <a href="/">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a class="active" href="javascript:;">
                        <i class="fa fa-clipboard"></i>
                        <span>Items</span>
                    </a>
                    <ul class="sub">
                        <li><a class="active" href="#"><i class="fa fa-plus"></i>Create</a></li>
                        <li><a href="/read"><i class="fa fa-eye"></i>Read</a></li>
                        <li><a href="/update"><i class="fa fa-edit"></i>Update</a></li>
                        <li><a href="#"><i class="fa fa-trash-o"></i>Delete</a></li>
                        <li><a href="/index"><i class="fa fa-list-ol"></i>Index</a></li>
                    </ul>
                </li>

            </ul>
            <!-- sidebar menu end-->

            <!--footer start-->
            <footer class="site-footer">
                <div class=" centered">
                    <a target="_blank" href="https://github.com/measdot">
                        <i class="fa fa-coffee"></i> + <i class="fa fa-heart"></i> = <i class="fa fa-database"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            {#wrapper header header#}
            <div class=" jumbotron">
                {# breadcrumb #}
                <i class="fa fa-bars"></i>
                <ol style="display: inline-block;" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Items</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>

                {# page title and actions #}
                <div class="content-title-action row mt ">
                    <div class="content-title col-md-4 title">
                        <h1><i class="fa fa-file-text"></i>Add Item</h1>
                    </div>
                    <div class="content-action col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control input-normal" placeholder="search to copy values from matching items">
                            <span class="input-group-addon"><i style="font-size: 18px" class="fa fa-eye"></i></span>
                        </div>
                    </div>
                </div>

            </div>

            {#wrapper content#}
            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <form class="form-horizontal style-form" method="get">

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Id</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" type="text"
                                           placeholder="field is set be auto generated" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Price</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                    <span class="help-block alert-success">price can be added in decimal too</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">You can select any one</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Let us know your choice(s)</label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Item will have a bigger label cant fit inline</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" checked>Item will have a bigger label cant fit inline</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Item will have a bigger label cant fit inline</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Inline checkbox</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2" checked> 2
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                                    </label>
                                    <span class="help-block alert-warning ">select multiple if you wish</span>

                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Inline Radios</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >A</label>
                                    <label class="radio-inline"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>B</label>
                                    <label class="radio-inline"><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >C</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Select as many as you can</label>
                                <div class="col-sm-10">
                                    <select multiple class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <span class="help-block alert-info">hold ctrl or command to select multiple opeions</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">What's you like</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >Option one is this and that&mdash;be sure to include why it's great</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>Option one is this and that&mdash;be sure to include why it's great</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >Option one is this and that&mdash;be sure to include why it's great</label>
                                    </div>
                                </div>
                            </div>

                            {#<button type="submit" class="btn btn-primary">Save</button>#}
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>

                        </form>
                    </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->
        </section>
        <! --/wrapper -->
    </section><!-- /MAIN CONTENT -->
    <!--main content end-->
</section>
<div style="display: none" class="mobile-only">
    <h1 class="center-block">Very soon you will see a mobile only version of the site.</h1>
</div>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.ui.touch-punch.min.js') }}"></script>
<script class="include" type="text/javascript" src="{{ asset('assets/js/jquery.dcjqaccordion.2.7.js') }}"></script>
<script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>


<!--common script for all pages-->
<script src="{{ asset('assets/js/common-scripts.js') }}"></script>

<!--script for this page-->
<!--script for this page-->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

</body>
</html>
